.promotions {
    display: grid;
    grid-template-areas: "1fr 1fr 1fr";
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 50px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotions .promotions_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
    width: auto;
    height: 320px;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px rgba(115, 115, 115, 0.44);
}

.promotions .promotions_cards .product_photo img {
    max-width: 200px;
    max-height: 100px;
}

.promotions .promotions_cards .product_description {
    max-width: 250px;
    max-height: 350px;
}